@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(normalize.css);

:root {
  --black: rgb(2, 18, 28);
  --grey: rgb(49, 54, 56);
  --sunny: rgb(255, 224, 132);
  --bluegreen: rgb(158, 238, 224);
  --platinum: rgb(229, 245, 215);
  --darkgreen: rgb(16, 100, 32);

}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation 
{
  position: fixed;
  display: block;
  top: 0;
  left: -160px;
  height: 100vh;
  width: 275px;
  z-index: 20;
  background: var(--grey);
  border-right: 1px var(--sunny) solid;
  grid-area: nav;
  transition: all .45s cubic-bezier(0.8, 0, 0.175, 1);
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0,0,0,.6);
}
.navigation:hover {
	position: fixed;
	left: 0;
	top: 0;
}

.navigation a {
  text-decoration: none;
  color: var(--platinum);
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.navigation li {
  padding: 10px 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.navigation li .nav-icon {
  font-size: 2em;
  height: px;
  color: var(--bluegreen);
}
.navigation li:hover .nav-icon {
  color: var(--sunny);
}

.navigation li button {
  background: 0;
  border: 0;
  font-family: inherit;
  font-size: 1.2em;
  color: var(--bluegreen);
  cursor: pointer;
}
.navigation li:hover button {
  color: var(--sunny);
}


.app-canvas
{
  background: rgb(89, 94, 96);;
  min-height: 100vh;
  overflow: hidden;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
}

.home {
  width: 100%;
  background-color: var(--black);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.home .logo {
  height: 50px;
  margin: 10px 10px 10px 30px;
}

.home .title {
  margin-top: 13px;
  padding-left: 30px;
  transition: all .3s ease;
  text-decoration: none;
  font-family: 'Cinzel';
  font-weight: 400;
  font-size: 2em;
  text-transform: lowercase;
  color: var(--black);
  letter-spacing:3px;
  text-shadow:  0px 0px 1px var(--sunny), 
                0px 0px 1px var(--sunny), 
                0px 0px 1px var(--sunny), 
                0px 0px 2px var(--sunny), 
                0px 0px 2px var(--sunny),
                0px 0px 3px var(--sunny);
}

.footer {
  background: var(--beige);
  border: 1px orange solid;
}

/* Login Card */
.login-card {
  padding-top: 25px;
  text-align: center;
}
.login-card .card-container {
  background-color: var(--grey);
  border: 1px solid var(--sunny);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 5px;
}
.login-card .logo {
  height: 50px;
  margin-top: -25px;
}
.login-card h2 {
  margin-top: 5px;
  font-size: 2em;
  font-family: Cinzel, serif;
  text-transform: uppercase;
  color: white;
}
.login-card form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.login-card input[type=text], 
.login-card input[type=password] {
  width: 300px;
  display: block;
  margin-top: 20px;
  border: 1px solid var(--sunny);
  padding: 10px 20px;
  font-size: 20px;
  transition-duration: .3s;
  text-align: center;
}
.login-card input[type=text]:focus, 
.login-card input[type=password]:focus {
  width: 350px;
}

.login-card button[type=submit] {
  border-radius: 0;
  border: 5px solid var(--sunny);
  display: block;
  padding: 10px 70px;
  margin: 30px;
  color: var(--black);
  font-size: 1.25em;
  font-weight: bold;
  background-color: var(--sunny);
}
.login-card button[type="submit"]:hover {
  background-color: rgba(255, 224, 132, .8);
}

.login-card .forgot-link {
  text-decoration: none;
  color: var(--black);
  font-size: .75em;
}
.login-card .forgot-link:visited {
  color: var(--black);
}

/*****************    DASHBOARD   ***************/

.dashboard-list-container {

}

.dashboard-list {
  background-color: rgba(255,255,255,.6);
  padding-top: 25px;
  border-bottom: 1px solid white;
  padding-left: 170px;
  padding-right: 150px;
}

.dashboard-list button {
  font-family: inherit;
  font-size: 1.3em;
  color: var(--grey);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid white;
  border-bottom: 0;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.dashboard-list .active {
  background-color: white;
  border-bottom: 1px solid white;
}

.dashboard {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

/* App card */
.card {
  margin: 20px;
  width: 400px;
}
.card .card-container {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  border: 1px solid var(--grey);
  background-color: rgba(255,255,255,.5);
  padding: 5px;
}
.card-container header {
  cursor: move;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(200, 200, 200, .2)
}
.card-container h3 {
  margin: 0;
  padding-left: 20px
}
.card-container header span {
  height: 100%;
  border: 1px solid red;
  vertical-align: center;
}
.card-container .config {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--grey);
}
.card-container .config:hover {
  color: var(--black);
}
.card-container article {
  padding: 20px 5px;
}


/*****************    MEDIA QUERIES   ***************/

@media all and (min-width: 601px) {
  .app-canvas {

  }

  .login-card {
    margin-top: 20vh;
    width: inherit;
  }

  .login-card .card-container {
    width: 400px;
  }
}


@media all and (max-width: 600px) {
  .app-canvas {
    padding: 0;
  }

  .login-card {
    margin-top: 5vh;
    width: 100%;
  }

  .login-card .card-container {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}